
init.vim.back
plugged/coc.nvim/
plugged/nvim-treesitter-refactor/
plugged/nvim-treesitter/
plugged/playground/
plugged/vim-airline-themes/
plugged/vim-airline/
plugged/vim-easymotion/
plugged/vim-surround/
plugged/vim-snippets/
plugged/vim-gitgutter/
plugged/lazygit.nvim/
plugged/molokai/
plugged/tagbar/
plugged/vim-fugitive/
plugged/fzf.vim/
plugged/fzf/
plugged/barbar.nvim/
plugged/doom-one.vim/
plugged/nvim-web-devicons/
plugged/vim-commentary/
plugged/vim-startify/
plugged/vim-visual-multi/
plugged/vim-which-key/
plugged/vim-matrix-screensaver/
session/__LAST__
session/nvim
session/tms-server
plugged/fzf-preview.vim/
plugged/fzf-preview/
plugged/vim-devicons/
plugged/vista.vim/
plugged/bclose.vim/
plugged/ranger.vim/
lsp/ch.qos.logback.classic_1.2.3.v20200428-2012.jar
lsp/ch.qos.logback.core_1.2.3.v20200428-2012.jar
lsp/ch.qos.logback.slf4j_1.2.3.v20200428-2012.jar
lsp/

session/cloud
plugged/vim-xkbswitch/
plugged/indentline/
plugged/vim-repeat/
plugged/vim-code-dark/
plugged/vim-vscode-theme/
plugged/vim-highlightedyank/